__pycache__/
*.py[cod]
*.pyc
*.$py.class
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.mypy_cache/
checkpoint/
*.log 
data/
weights/
env
.env
.venv
.vscode
.cache
*.log
*.mp4
*.MP4
*.txt
*.jpg
*.csv
*.npy
*.pth
*.pt
*.png